#
# Umbraco Cms Git Ignore
#

# common files
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.orig
*.suo
*.vs10x
*.ndproj
*.ignorer.*

# common directories
.DS_Store
._.DS_Store
.vs/
/local/

# build directories
[Bb]in/
[Db]ebug*/
[Rr]elease*/
obj/

# tools
_ReSharper*/
_NCrunch_*/
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
*.crunchsolution.cache
tools/NDepend/




[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
[sS]ource
[sS]andbox
umbraco.config
App_Data/TEMP/*
[Uu]mbraco/[Pp]resentation/[Uu]mbraco/[Pp]lugins/*
[Uu]mbraco/[Pp]resentation/[Uu]ser[Cc]ontrols/*
[Uu]mbraco/[Pp]resentation/[Ss]cripts/*
[Uu]mbraco/[Pp]resentation/[Ff]onts/*
[Uu]mbraco/[Pp]resentation/[Cc]ss/*

Umbraco.Web.UI/[Cc]ss/*
Umbraco.Web.UI/App_Code/*
Umbraco.Web.UI/App_Data/*
Umbraco.Tests/App_Data/*
Umbraco.Web.UI/[Mm]edia/*
Umbraco.Web.UI/[Mm]aster[Pp]ages/*
Umbraco.Web.UI/[Mm]acro[Ss]cripts/*
!Umbraco.Web.UI/[Mm]acro[Ss]cripts/[Ww]eb.[Cc]onfig
Umbraco.Web.UI/[Xx]slt/*
Umbraco.Web.UI/[Ii]mages/*
Umbraco.Web.UI/[Ss]cripts/*
Umbraco.Web.UI/Web.*.config.transformed

umbraco/presentation/umbraco/plugins/uComponents/uComponentsInstaller.ascx
umbraco/presentation/packages/uComponents/MultiNodePicker/CustomTreeService.asmx

Umbraco.Tests/config/applications.config
Umbraco.Tests/config/trees.config
Umbraco.Web.UI/web.config
Umbraco.Web.UI/[Cc]onfig/ClientDependency.config
Umbraco.Web.UI/[Cc]onfig/serilog.config
Umbraco.Web.UI/[Cc]onfig/serilog.user.config
Umbraco.Tests/config/404handlers.config
Umbraco.Web.UI/[Vv]iews/*.cshtml
Umbraco.Web.UI/[Vv]iews/*.vbhtml
Umbraco.Tests/[Cc]onfig/umbracoSettings.config
Umbraco.Web.UI/[Vv]iews/*
packages/
packages/repositories.config

Umbraco.Web.UI/[Ww]eb.config
*.transformed

node_modules
lib-bower

Umbraco.Web.UI/[Uu]mbraco/[Ll]ib/*
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/umbraco.*
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/*.loader.js
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/init.js
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/routes.js
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/app.dev.js
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/loader.js
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/loader.dev.js
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/main.js
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/app.js
Umbraco.Web.UI/[Uu]mbraco/[Jj]s/canvasdesigner.*.js

Umbraco.Web.UI/[Uu]mbraco/[Vv]iews/
Umbraco.Web.UI/[Uu]mbraco/[Vv]iews/**/*.js
Umbraco.Web.UI/[Uu]mbraco/[Vv]iews/**/*.css
Umbraco.Web.UI/[Uu]mbraco/[Vv]iews/**/*.html
Umbraco.Web.UI/[Uu]mbraco/[Aa]ssets/*
Umbraco.Web.UI.Client/[Bb]uild/*
Umbraco.Web.UI.Client/[Bb]uild/[Bb]elle/
Umbraco.Web.UI/[Uu]ser[Cc]ontrols/

Umbraco.Web.UI.Client[Ll]ess/*.css
Umbraco.Web.UI.Client/vwd.webinfo

Umbraco.Web.UI/App_Plugins/*
*.psess
*.vspx

NDependOut/*
QueryResult.htm

Umbraco.Web.UI/[Cc]onfig/appSettings.config
Umbraco.Web.UI/[Cc]onfig/connectionStrings.config
Umbraco.Web.UI/[Uu]mbraco/plugins/*
build/ApiDocs/*
build/ApiDocs/Output/*
Umbraco.Web.UI.Client/bower_components/*
Umbraco.Web.UI/[Uu]mbraco/preview
Umbraco.Web.UI/[Uu]mbraco/preview.old

# ignore rule for clearing out Belle (avoid rebuilding all the time)
preserve.belle

#Ignore Rule for output of generated documentation files from Grunt docserve
Umbraco.Web.UI.Client/docs/api
*.boltdata/
umbraco.sln.ide/*
.vs/

Umbraco.Web.UI/[Jj]s/*
Umbraco.Tests/[Mm]edia
tools/docfx/*
apidocs/_site/*
*/project.lock.json
.idea/*

apidocs/api/*
build/docs.zip
build/ui-docs.zip
build/csharp-docs.zip
packages/
PrecompiledWeb/*

# build
build.out/
build.tmp/
build/hooks/
build/temp/



# eof
Umbraco.Web.UI.Client/TESTS-*.xml
ApiDocs/api/*